<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ark.adkit.polymers.iflytek">
    <!-- 动态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 必要权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>

        <!--suppress AndroidDomInspection -->
        <service android:name="com.iflytek.voiceads.update.DownloadService"/>

        <!--suppress AndroidDomInspection -->
        <activity
                android:name="com.iflytek.voiceads.request.IFLYBrowser"
                android:screenOrientation="portrait"/>
    </application>
</manifest>
